<!DOCTYPE html>
<html>
<head>
<style type="text/css">
</style>
	<title>Concurrenten analyse</title>
	<link rel="icon" type="image/png" href="assets/img/BioCentre_logo.png">
	
	<!-- css files -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.1/css/bulma.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/styles.css">

<!--	<link rel="icon" type="image/x-icon" href="assets/img/favicon.png"> -->
	<meta name="author" content="Kris Andrada Pereira en Luuk Geurts">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
	<body>
		<!-- Navbar -->
		<nav class="nav container void-background">
			<!-- This "nav-menu" is hidden on mobile -->
			<!-- Add the modifier "is-active" to display it on mobile -->
			<div class="nav-left">
				<a href="index" class="nav-item">
					<span class="icon">
						<i class="fa fa-home"></i>
					</span>
				</a>
				<!--
				<a href="http://github.com/helfi92" class="nav-item">
					<span class="icon">
						<i class="fa fa-github"></i>
					</span>
				</a>
				<a href="https://twitter.com/hassanhelfi" class="nav-item">
					<span class="icon">
						<i class="fa fa-twitter"></i>
					</span>
				</a>
				-->
			</div>

			<div class="nav-right nav-menu">
				<a class="nav-item" href="about">About</a>
				<a class="nav-item" href="#projects">Wie zijn wij?</a>
				<div class="nav-item dropdown" > 
					<button class=" dropbtn"> Bestanden </button>
						<div class="dropdown-content">
						<a href="PvA"> Plan van Aanpak</a>
						<a href="Markt_Segmentatie">Markt Segmentatie</a>
						<a href="">Aanbeveling</a> 
						<a href="">Pilot</a>
						</div>
				</div>
				<a class="nav-item" href="#social">Contact</a>
			</div>

			<!-- This "nav-toggle" hamburger menu is only visible on mobile -->
			<!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
			<span class="nav-toggle">
				<span></span>
				<span></span>
				<span></span>
			</span>
		</nav>
		
		<body>
		  
		  <br>
		  <div class="has-text-centered container">
		    <h1 class="title is-1"> Concurrenten analyse </h1>
  		  <p>
  		    Om duidelijk te krijgen welke markten er allemaal al bediend zijn is er een concurrenten analyse gedaan. Hierbij is gezocht naar apparaten die mogelijk hetzelfde zouden kunnen doen als de HTSS. Nadat deze apparaten bekend waren is er onderzocht welke apparaten daadwerkelijk <i> C. Elegans </i> kunnen tellen.
  		<br>
  		<br>
  		
<iframe id="iframe_container" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" width="700" height="510" src="https://prezi.com/embed/jyvm6jwcr5sk/?bgcolor=ffffff&amp;lock_to_path=0&amp;autoplay=0&amp;autohide_ctrls=0&amp;landing_data=bHVZZmNaNDBIWnNjdEVENDRhZDFNZGNIUE43MHdLNWpsdFJLb2ZHanI5a24vU0Y4WFJtVXFWb1Z6Y25kSmhxcDR3PT0&amp;landing_sign=YgZ0MFdkfvvyRqq7XC2PToNo_VSJRNUofp5dtrcLYA4"></iframe>

		
		  </div>
		
			<!-- Scripts  -->
		    <script src="controller.js"></script>	
		</body>
		
</html>













