<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<style type="text/css">
.knitr .inline {
  background-color: #f7f7f7;
  border:solid 1px #B0B0B0;
}
.error {
	font-weight: bold;
	color: #FF0000;
}
.warning {
	font-weight: bold;
}
.message {
	font-style: italic;
}
.source, .output, .warning, .error, .message {
	padding: 0 1em;
  border:solid 1px #F7F7F7;
}
.source {
  background-color: #f5f5f5;
}
.rimage .left {
  text-align: left;
}
.rimage .right {
  text-align: right;
}
.rimage .center {
  text-align: center;
}
.hl.num {
  color: #AF0F91;
}
.hl.str {
  color: #317ECC;
}
.hl.com {
  color: #AD95AF;
  font-style: italic;
}
.hl.opt {
  color: #000000;
}
.hl.std {
  color: #585858;
}
.hl.kwa {
  color: #295F94;
  font-weight: bold;
}
.hl.kwb {
  color: #B05A65;
}
.hl.kwc {
  color: #55aa55;
}
.hl.kwd {
  color: #BC5A65;
  font-weight: bold;
}
</style>
<style type="text/css">
.knitr .inline {
  background-color: #f7f7f7;
  border:solid 1px #B0B0B0;
}
.error {
	font-weight: bold;
	color: #FF0000;
}
.warning {
	font-weight: bold;
}
.message {
	font-style: italic;
}
.source, .output, .warning, .error, .message {
	padding: 0 1em;
  border:solid 1px #F7F7F7;
}
.source {
  background-color: #f5f5f5;
}
.rimage .left {
}
  text-align: left;
.rimage .right {
  text-align: right;
}
.rimage .center {
  text-align: center;
}
.hl.num {
  color: #AF0F91;
}
.hl.str {
  color: #317ECC;
}
.hl.com {
  color: #AD95AF;
  font-style: italic;
}
.hl.opt {
  color: #000000;
}
.hl.std {
  color: #585858;
}
.hl.kwa {
  color: #295F94;
  font-weight: bold;
}
.hl.kwb {
  color: #B05A65;
}
.hl.kwc {
  color: #55aa55;
}
.hl.kwd {
  color: #BC5A65;
  font-weight: bold;
}
</style>
	<title>Plan van aanpak</title>
	<link rel="icon" type="image/png" href="assets/img/BioCentre_logo.png">
	
	<!-- css files -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.1/css/bulma.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/styles.css">

<!--	<link rel="icon" type="image/x-icon" href="assets/img/favicon.png"> -->
	<meta name="author" content="Kris Andrada Pereira en Luuk Geurts">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
	<body>
		<!-- Navbar -->
		<nav class="nav container void-background">
			<!-- This "nav-menu" is hidden on mobile -->
			<!-- Add the modifier "is-active" to display it on mobile -->
			<div class="nav-left">
				<a href="index" class="nav-item">
					<span class="icon">
						<i class="fa fa-home"></i>
					</span>
				</a>
				<!--
				<a href="http://github.com/helfi92" class="nav-item">
					<span class="icon">
						<i class="fa fa-github"></i>
					</span>
				</a>
				<a href="https://twitter.com/hassanhelfi" class="nav-item">
					<span class="icon">
						<i class="fa fa-twitter"></i>
					</span>
				</a>
				-->
			</div>
			<div class="nav-right nav-menu">
				<a class="nav-item" href="about">About</a>
				<a class="nav-item" href="#projects">Wie zijn wij?</a>
				<div class="nav-item dropdown" > 
					<button class=" dropbtn"> Bestanden </button>
						<div class="dropdown-content">
						<a href="Plan van Aanpak"> Plan van aanpak</a>
						<a href="">Onderzoek</a>
						<a href="">Aanbeveling</a> 
						<a href="">Pilot</a>
						</div>
				</div>
				<a class="nav-item" href="#social">Contact</a>
			</div>
			<!-- This "nav-toggle" hamburger menu is only visible on mobile -->
			<!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
			<span class="nav-toggle">
				<span></span>
				<span></span>
				<span></span>
			</span>
		</nav>
		<br>
		<div class="inhoudsopgave">
		<div class="has-texted-centered">
			<div class="columns is-multiline is-desktop">
				<div class="column">
				  <article>
					  <a href="#Inleiding"> Inleiding</a>
					  <br>
					  <a href="#Aanleiding"> Aanleiding en context</a> 
					  <br>
					  <a href="#Doelstelling"> Doelstelling</a> 
					  <br> 
					  <a href="#Probleemanalyse"> Probleemanalyse</a>
					</article>
				</div>
				<div class="column">
				  <article>
					  <a href="#Projectinrichting">  Projectinrichting</a>
					  <br> 
					  <a href="#MogelijkeVerdienModellen">  Mogelijke Verdien Modellen</a>
					  <br> 
					  <a href="#Communicatie"> Communicatie </a>
					  <br> 
					  <a href="#Planning"> Planning</a>
					</article>
					<br>
				</div>
			</div>
				
		</div>
		</div>
			<div class="verslag">
<br><br>
				<div id="centerMe">
				<h1 id="Inleiding" class="title is-3"> Inleiding </h1></div>
				Dit onderzoek is een onderdeel van een groter project, waar drie verschillende faculteiten binnen de Hogeschool van Arnhem en Nijmegen aan werken: Het HAN BioCentre, HAN Engineering en HAN Smart Industries.  Het HAN BioCentre heeft een wormen lab, waar zij onderzoek doen op <i>C. Elegans</i> wormen. Deze wormen zijn volledig in kaart gebracht en hebben grote overeenkomsten in het DNA en zenuwstelsel als mensen. Daarnaast zijn ze doorzichtig waardoor onderzoekers in hen kan kijken wat er gebeurd. Door onder ander  deze positieve eigenschappen worden deze wormen gebruikt voor onderzoeken naar effecten van bepaalde stofjes op deze wormen en in het verlengde hiervan, de mogelijke effecten op de mens. Het effect wordt gemeten door het aantal wormen te tellen na een bepaalde tijd. Er staan twee concrete vragen centraal bij dit project:

				<br><br>
				- Hoe kan het meten van <i>C. Elegans</i> wormen geautomatiseerd worden? <br>
				- Welke toegevoegde waarde kan het te  ontwerpen product uit de vraag hiervoor voor de HAN hebben? 
				<br><br>
				HAN Engineering ontwerpt voor de HAN BioCentre het apparaat om het tellen van het aantal wormen te faciliteren. Het is de taak van het Smart Industries team om door middel van onderzoek een antwoord op de tweede vraag te geven.
Hieronder wordt onder andere de aanleiding voor het onderzoek, de doelstelling, de probleemanalyse en de randvoorwaarden besproken. 
In dit onderzoek wordt het te ontwerpen product aangeduid met ‘HTSS’. Dit staat voor <i>High Throughput Scanning System </i>

<br><br><br>
				<h1 id="Aanleiding" class="title is-2"> De aanleiding en context </h1>
				<h2 class="title is-3"> Aanleiding </h2>
				<p>Zoals in de inleiding naar voren is gekomen, werkt de HAN BioCentre samen met HAN Engineering om samen tot een product te komen om het analyseren van <i>C. Elegans</i> wormen te faciliteren. Dit tellen gebeurt momenteel nog bij de hand. Het gevolg hiervan is dat het zowel heel arbeidsintensief, als tijdrovend en onnauwkeurig. De wens is om dit dus te automatiseren. 

Momenteel zijn er al verschillende apparaten die het tellen kan faciliteren. Deze apparaten zijn echter duur, waardoor het voor de HAN BioCentre en soortgelijke organisaties niet mogelijk is om meerdere van aan te schaffen. 

Aan ons de taak om de toegevoegde waarde van de HTSS voor HAN Engineering en het HAN in het algemeen te onderzoeken. Omdat de HAN geen commercieel productie bedrijf is, heeft de HTSS geen toegevoegde waarde in de financiële zin. De focus bij dit onderzoek ligt dan meer op het maatschappelijke waarde van de HTSS en de samenhang met de missie en visie van de HAN. 
</p>
				<br> <br>
				<h2 class="title is-3"> Context </h2>
				<p>Het HAN BioCentre is een biologisch onderzoekslab binnen de HAN waar studenten samen met docenten en onderzoekers onderzoeken kunnen uitvoeren. Het HAN BioCentre houdt zich onder andere bezig met onderzoek op <i>C. Elegans</i>. 
HAN Engineering is een afdeling binnen de HAN. Binnen deze afdeling vallen een aantal opleidingen waaronder elektrotechniek. De studenten doen tijdens hun opleiding meerdere projecten en een groep van deze studenten gaat het apparaat voor het BioCentre ontwikkelen.
Deze twee partijen vallen beide onder de HAN. De afkorting HAN staat voor Hogeschool Arnhem en Nijmegen. Zoals de naam al doet verklaren is het een hogeschool. De doelen van de HAN voor het periode 2016-2022 komen in hun <a href src=”https://jaarverslag.han.nl/jaarverslag-2016/deel1/4-strategische-doelen-2016-2020/#p4_4-Doelen-en-prioriteiten-2016-2020”> jaarverslag</a> naar voren. Hieruit blijkt dat de HAN geen commerciële doelen heeft, maar enkel maatschappelijke. 
 </p>
<br><br><br>				
				<h1 id="Doelstelling" class="title is-2"> Doelstelling en beoogd projectresultaat </h1>
				<h2 class="title is-3"> Beoogde projectresultaat </h2>
				Het beoogde projectresultaat is het ontwerpen van een product, de HTSS, dat het tellen van de <i>C. Elegans</i> faciliteert. Hiermee wil de HAN Biocentre de productiviteit, efficiëntie en het betrouwbaarheid van hun onderzoeken verhogen. De HTSS wordt dus op maat voor de HAN BioCentre gemaakt.
				<br><br>
				<h2 class="title is-3"> Onderzoeksdoelstelling </h2>
				Het doel van dit onderzoek is om uit te zoeken welke klantsegmenten er zijn en op welke van deze segmenten HAN Engineering moet gaan focussen. Een ander deel van het onderzoek zal zijn om uit te zoeken wat de waardepropositie is van het HTSS. Ook zal er gekeken worden hoe er klantrelaties aangegaan kunnen worden en hoe klanten bereikt willen worden.
<br><br><br>	
				<h1 id="Probleemanalyse" class="title is-2"> Probleemanalyse en probleemstelling </h1>
				<h2 class="title is-3"> Hoofdvraag </h2>
					Hoe ziet het business model voor de HAN Engineering met betrekking tot de HTSS de komende drie jaar er uit?
<br><br>
				<h2 class="title is-3"> Subvragen </h2>
				<div class="Pva_subvragen">
					<ol>
						<li>Hoe positioneren de concurrenten zich?</li> 
						<li>Wat is de waardepropositie van de HTSS?</li>
						<li>Wie is onze markt? </li>
						<li>Hoe kan de HAN Engineering potentiële klanten bereiken en een relatie aangaan? </li>
						<li>Marktonderzoek</li>
					</ol>
				</div>
<br><br>
				<h1 id="Projectinrichting" class="title is-2">Projectinrichting, randvoorwaarden en beperkingen </h1>
				<h2 class="title is-3"> Beperkingen </h2>
				Om dit onderzoek af te bakenen, zullen de volgende beperkingen worden opgesteld.<br><br>
				<ul>
					<li>Er wordt er van uit gegaan dat het apparaat enkel voor de wormen <i>C. Elegans</i> gebruikt gaat worden. Binnen dit onderzoek wordt dus ook enkel naar deze markt gekeken. </li>
					<li>Dit onderzoek heeft betrekking op de volgende markten: Duitsland, Benelux, Engeland.</li>
					<li>Het businessmodel heeft geen commerciële invalshoek, vanwege de taken van een hogeschool. 
 </li>
					<li>Er wordt veronderstelt dat HAN Engineering het product niet op maat voor andere bedrijven of organisaties gaat ontwerpen. </li>
				</ul>
<br><br>
				<h2 class="title is-3"> Randvoorwaarden </h2>
				Het onderzoek loopt tot en met 29 juni. Dit is de deadline om het onderzoek af te hebben.  <br><br>
				Er is geen budget vrijgesteld. Eventuele kosten die noodzakelijk zijn voor het onderzoek kunnen in overleg gedeclareerd worden. 
<br><br><br>
<!--
				<h1 id="MogelijkeVerdienModellen" class="title is-2"> Mogelijke Verdienmodellen </h1>
				<b>Verkopen van data</b><br>
				Dit houdt in dat, de HAN BioCentre met het apparaat in handen blijft en dat zij zelf de experimenten uitvoert. 
				Ze blijven daarna ook eigenaar van de verkregen data en kunnen deze verder verkopen aan andere opdrachtgevers. 
				Er moet hiervoor een verdien model worden opgesteld waarbij zowel de HAN als de toekomstige opdrachtgevers profijt bij hebben.  
<br><br>
				<b>Verkoop van het analyseren van data</b><br>
				Het apparaat tegen kostprijs verkopen en dan een vergoeding vragen voor het analyseren van de data. 
				Zo kunnen mensen het apparaat gebruiken zonder dat ze verstand van <i>C. Elegans</i> hoeven te hebben. 
				Mogelijk een database online waar gebruikers de gemaakte afbeeldingen in kunnen zetten en dat er dan software is die de aantallen tellen en dit bijvoorbeeld in een heatmap zet.
<br><br>
				<b>Verkopen van tijd met het apparaat</b><br>
				Dit houdt in dat het apparaat in handen blijft van de BioCentre van HAN. 
				Bedrijven/Organisaties die het apparaat nodig hebben, kunnen dan een verzoek indienen om zelf gebruik te maken van het apparaat of dat de BioCentre deze experimenten zelf doet en de resultaten dan doorsturen.
<br><br>
				<b>Verkopen van het apparaat zelf</b><br>
				Dit houdt in dat er uitgezocht wordt in hoeverre het verstandig is om het apparaat als product aan te bieden. 
				De kopers krijgen het apparaat en kunnen deze in hun eigen experimenten gebruiken.
<br><br>
				<b>Verhuren van het apparaat</b><br>
				Dit houdt in dat het apparaat voor maar een beperkte tijd naar de opdrachtgever gaat. Na het verlopen van het experiment/tijd gaat het apparaat terug naar HAN BioCentre.
<br><br>
				<b>Verkoop van software</b><br>
				Dit houdt het scheiden van hard- en software in. Het apparaat wordt aan bedrijven/organisaties tegen kostprijs verkocht met de software die daarnaast los te koop is. 
				Er moet gekeken worden naar het soort Open Source licenties die het Engineering team gaat gebruiken.  
<br><br>
				De voorkeur gaat uit naar de verkoop van de analyse van de data, omdat wij hier een smart component aan kunnen koppelen. 
				Hierdoor kan de HAN BioCentre ook in de toekomst efficiënt en geautomatiseerd te werk gaan met <i>C. Elegans</i>. 
				Denk hierbij bijvoorbeeld aan de gegenereerde data die nu nog niet van belang lijkt, maar mogelijk later wel een waarde kan hebben. 
<br><br><br>
-->
			<h1 id="Communicatie" class="title is-2"> Communicatie </h1>
				Communicatie tussen het team en de opdrachtgever verloopt voornamelijk via mail, persoonlijke gesprekken en de website. Bij eventuele simpele vragen wordt de opdrachtgever of het engineering team direct gemaild. Voor meer diepgaande vragen zullen extra contactmomenten gepland worden. De website zal met name gebruikt worden voor wekelijkse updates en het presenteren van resultaten zodat iedereen continu op de hoogte blijft van de voortgang. 
<br><br><br>
      <h1 id="Planning" class="title is-2"> Planning </h1>
        <div class="has-text-centered">
          <table align="center">
            <tr>
          		<th> <font color="white"> Subvraag </font> </th>
          		<th> <font color="white"> Weeknummer begin </font> </th>
          		<th> <font color="white"> Weeknummer einde </font> </th>
          	</tr>
          	<tr>
          		<td> <font color="white"> Hoe positioneren de concurrenten zich? </font> </td>
          		<td> <font color="white"> Week 16 </font> </td>
          		<td> <font color="white"> Week 17 </font> </td>
          	</tr>
			<tr>
          		<td> <font color="white"> Wat is de waardepropositie van de HTSS? </td>
          		<td> <font color="white"> Week 20 </font> </td>
          		<td> <font color="white"> Week 21 </font> </td>
          	</tr>
          	<tr>
          		<td> <font color="white"> Wie is onze markt? </td>
          		<td> <font color="white"> Week 17 </font> </td>
          		<td> <font color="white"> Week 19 </font> </td>
          	</tr>
          	<tr>
          		<td> <font color="white"> Hoe kan de HAN Engineering potentiële klanten bereiken en een relatie aangaan? </font> </td>
          		<td> <font color="white"> Week 22 </font> </td>
          		<td> <font color="white"> Week 22 </font> </td>
          	</tr>
          	<tr>
          		<td> <font color="white"> Marktonderzoek </font> </td>
          		<td> <font color="white"> Week 17 </font> </td>
          		<td> <font color="white"> Week 23 </font> </td>
          	</tr>
          	<tr>
          	<tr>
          		<td> <font color="white"> Conclusie </font> </td>
          		<td> <font color="white"> Week 21 </font> </td>
          		<td> <font color="white"> Week 22 </font> </td>
          	</tr>
          	<tr>
          		<td> <font color="white"> Eventuele uitloop </font> </td>
          		<td> <font color="white"> Week 22 </font> </td>
          		<td> <font color="white"> Week 24 </font> </td>
          	</tr>
          </table>
<br><br><br>
			</div>
			<!-- Scripts   -->
			 <script src="controller.js"></script>
	</body>
</html>
